<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>

            <a href="{{ path('parallalax_news_edit') }}">Nouveau</a>
        </div>

        <div>
            {% block parallalax_blog_content %}
            {% endblock parallalax_blog_content %}
        </div>
    </body>
</html>
