<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for n in news %}
            <tr>
                <td>{{ n.id }}</td>
                <td>{{ n.title }}</td>
                <td>
                    <a href="{{ path('parallalax_news_edit', {'id': n.id}) }}">
                        <span class="fa fa-pencil"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
